html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 206, 212);
    min-height: 100%;
}

main {
    flex: 1
}

header {
    background-color: #2c3e50;
    height: 100px;
    font-size: 1.5rem;
}

.navbar-brand {

    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

a {
    text-decoration: none;
}

.clock-logo {
    width: 60px;
}

.introduction-header {
    margin-top: 50px;
    margin-bottom: 20px;
}

.introduction-text {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.trip-input {
    width: 50px;
}

.total-time-output {
    text-align: center;
}

.break-time-output {
    text-align: center;
}

.trip-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

strong {
    font-size: 115%;
}

.time-left-card {
    margin-top: 50px;
}

.btn-enter {
    background-color: #2c3e50;
    color: #fff;
    width: 150px;
    margin-top: 20px;
}

.btn-trip-logs {
    margin-top: 80px;
    background-color: #2c3e50;
    color: #fff;
    width: 150px;
}

.footerstyle {
    background-color: #2c3e50;
    max-height: 25px;
    color: white;

}